.posts{
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.posts .post_header{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.posts .post_header .post_headerLeft{
    display: flex;
    align-items: center;
}

.posts .post_header .post_name h3{
    font-size: 19px;
    margin: 0px;
    margin-left: 10px;
}
.posts .post_header .post_name p{
    font-size: 12px;
    margin: 0px ;
    margin-left: 10px;
}


.post_body p{
    font-size: 15px;
    padding: 20px 0px;
}

.post_footer{
    display: flex;
    border-top: 3px solid #ccc;
    padding-top: 10px;
    margin-top: 20px;
}

.post_footer .post_footOption{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
}

.post_footer .post_footOption svg{
    margin-top: 10px;
    color: #333;

}


.post_footer .post_footOption span{
    padding-top: 10px;
    color: rgb(121, 117, 117);
    margin-left: 5px;
}